* {
    margin: 0;
    padding: 0;
}

#div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.header {
    display: flex;
    height: 70px;
    background-color: whitesmoke;
}

.header img {
    padding-top: 15px;
    padding-left: 10px;
    height: 40px;
}

.prods {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
    font-family:'sans-serif';
}

#line {
    display: flex;
    justify-content: center;
}

.line {
    border-top: 3px solid rgb(60, 58, 58);
    width: 100px;
    margin-bottom: 40px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 0;
    padding-top: 20px;
}

.cont {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.wrapper div {
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 8px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin: 0;
    font-size: 12px;
}

.btn {
    background-color: #c1c1c1;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.buy-now:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}